<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <h4 class="card-text">{{ .Summary }}</h4>            
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                {{ $author := .Site.GetPage "people" (printf "people/%s" (urlize .Params.author)) }}
                <span class="meta-footer-thumb">
                    {{ $resource := (index ($author.Resources.ByType "image") 0).Fill "100x100" }}
                <img class="author-thumb" src="{{ $resource.RelPermalink }}" alt="{{ $author.Params.name }}">
                </span>
                <span class="author-meta">
                <span class="post-name">{{ $author.Params.name }}</a></span><br/>
                <span class="post-date">{{ dateFormat "Jan 2, 2006" .PublishDate }} - {{ .ReadingTime }} min read </span>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- end post -->
